################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
/packages/
/Output/
/.idea/
/.vs/
/ipch/
*.suo
*.user
*.DotSettings*
*.dgml
*.VC.opendb
*.VC.db
*.idb
*.sdf
*.tlog
*.meta
*.log

References/*.dll
!References/Memoria.MSBuild.dll
!References/Microsoft.Build.Utilities.v4.0.dll
!References/Microsoft.Build.Framework.dll

Memoria.Injection/Release/*
Memoria.Injection/Debug/*
Memoria.Injection/x64/*
Memoria.Interaction/Release/*
Memoria.Interaction/Debug/*
Memoria.Interaction/x64/*